In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os 

import sys; sys.path.append('/home/mitch/util/python')
sys.path.append('/home/mitch/school/mfl2/src/')
import utils

save = True

In [2]:
raw = '/home/mitch/Dropbox/data/mexico_fls/raw/2005/'
interim = '/home/mitch/Dropbox/data/mexico_fls/interim/2005/'

figs = '/home/mitch/school/mfl2/fig/'
dicts= '/home/mitch/school/mfl2/notebooks/dicts/'

In [3]:
os.chdir(interim)

hh = pd.read_stata('hh_2005.dta')
ind = pd.read_stata('ind_2005.dta')

In [4]:
hh

,index,folio,weight,property_income_tax,property_ownership,property_own_outright,property_own_community_ejido,house,otherhouse,housing,...,has_productive_illiquid_assets,animal,durable,machinary,hh_no_savings,hh_has_savings,hh_has_debts_12mth,hh_no_debts_12mth,hh_debts,hh_has_liquid
0,0,1000.0,1908,150.0,property_own_outright,1,0,120000.0,NaN,4.0,...,1,400.0,2800.0,NaN,1,0,0,1,NaN,0
1,1,1003.0,1908,0.0,property_borrowed_rented_no_payment,0,0,NaN,NaN,6.0,...,0,0.0,42200.0,NaN,1,0,0,1,NaN,0
2,2,2000.0,1908,150.0,property_own_outright,1,0,400000.0,NaN,4.0,...,0,0.0,4950.0,NaN,1,0,1,0,40000.0,1
3,3,3000.0,1908,100.0,property_borrowed_rented_no_payment,0,0,200000.0,NaN,4.0,...,1,1500.0,7300.0,NaN,1,0,0,1,NaN,0
4,4,4000.0,1908,0.0,property_own_outright,1,0,350000.0,NaN,4.0,...,0,0.0,24200.0,NaN,1,0,1,0,20000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7955,7955,10753000.0,1286,0.0,property_own_outright,1,0,NaN,NaN,4.0,...,1,700.0,12450.0,NaN,0,1,1,0,200.0,1
7956,7956,10754000.0,650,0.0,property_own_outright,1,0,100000.0,NaN,4.0,...,1,50.0,35900.0,NaN,1,0,1,0,1500.0,1
7957,7957,10757000.0,668,0.0,property_community_ejido,0,1,40000.0,100000.0,2.0,...,0,0.0,22200.0,NaN,1,0,1,0,4000.0,1
7958,7958,10758000.0,668,0.0,property_community_ejido,0,1,120000.0,NaN,4.0,...,0,0.0,23400.0,NaN,1,0,0,1,NaN,0
7959,7959,10759000.0,668,0.0,property_community_ejido,0,1,40000.0,NaN,4.0,...,1,200.0,6100.0,NaN,1,0,0,1,NaN,0

In [5]:
ind

,index,folio,ls,pid_link,weight_ind,age,state,hh_size,education,gender,...,loan_friends_relatives_hh,has_loan,has_loan_formal_hh,has_loan_informal_hh,has_loan_friends_relatives_hh,liquid_formal_hh,has_liquid_formal_hh,annual_labor_income_hh,netIncomeMainBusiness_hh,netIncomeSecondBusiness_hh
0,0,1000,1,100001.0,2244.0,41.0,20.0,5,medium,0,...,0.0,0,0,0,0,0.0,0,0.0,0.0,0.0
1,2,1003,1,100301.0,NaN,20.0,20.0,2,medium,0,...,0.0,0,0,0,0,0.0,0,8000.0,0.0,0.0
2,13,6000,1,600001.0,2244.0,70.0,20.0,9,low,0,...,0.0,0,0,0,0,0.0,0,0.0,0.0,0.0
3,16,8000,1,800001.0,2244.0,33.0,20.0,4,high,0,...,0.0,1,1,0,0,35000.0,1,80000.0,0.0,20000.0
4,18,10000,1,1000001.0,2074.0,39.0,20.0,6,low,1,...,0.0,0,0,0,0,20000.0,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,18962,7086000,1,NaN,115.0,NaN,NaN,3,low,0,...,0.0,0,0,0,0,0.0,0,20000.0,0.0,0.0
5948,18964,7335000,1,NaN,2039.0,NaN,NaN,4,medium,0,...,0.0,0,0,0,0,0.0,0,32000.0,0.0,0.0
5949,18967,7346000,1,NaN,2039.0,NaN,NaN,4,low,0,...,0.0,0,0,0,0,0.0,0,0.0,0.0,0.0
5950,18968,7450000,1,NaN,1322.0,NaN,NaN,1,low,0,...,0.0,0,0,0,0,0.0,0,0.0,0.0,0.0
5951,18975,9930006,1,NaN,NaN,NaN,NaN,3,low,0,...,0.0,0,0,0,0,0.0,0,42000.0,0.0,0.0

In [6]:
data = hh.merge(ind, on=['folio'], how='inner')
os.chdir(interim)
data.to_stata('merged_2005.dta', index=False)