In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

dir = '/home/mitch/Dropbox/data/mexico_fls/interim/2005/'
os.chdir(dir)

data = pd.read_stata('loans_2005.dta')

In [3]:
loan_types = data['where_get_loan'].unique()
data

,index,weight_ind,asked_for_loan_12mth,where_get_loan,loan_size,time_to_pay_loan,years_to_pay_loan,months_to_pay_loan,days_to_pay_loan,annual_interest_rate,monthly_interest_rate,daily_interest_rate,interest_rate_type
0,16,2244.0,1,savings_fund,15000.0,1.0,1.0,6.0,NaN,NaN,3.0,NaN,monthly
1,45,1251.0,1,savings_fund,10000.0,1.0,NaN,6.0,NaN,2.0,NaN,NaN,annual
2,50,NaN,1,savings_fund,7000.0,1.0,NaN,6.0,NaN,3.0,NaN,NaN,annual
3,175,3282.0,1,friends,3000.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,no_interest
4,217,3117.0,1,bank,3000.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,annual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,18838,1251.0,1,savings_fund,15000.0,1.0,NaN,6.0,NaN,4.0,NaN,NaN,annual
679,18848,6969.0,1,other,20000.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,no_interest
680,18876,1021.0,1,other,4000.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,DK
681,18880,1491.0,1,bank,10000.0,1.0,3.0,NaN,NaN,NaN,1.0,NaN,monthly
682,18901,1639.0,1,work,500.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,no_interest

In [4]:
data.interest_rate_type.unique()

array(['monthly', 'annual', 'no_interest', 'DK', 'daily'], dtype=object)

In [5]:
data['charges_interest'] = data['interest_rate_type'].apply(lambda x : x in ['daily', 'monthly', 'annual'])

In [10]:
import statsmodels.stats.weightstats as ws
charges_interest_by_type = {}
for loan_type in loan_types:
    focus = data.copy()[data['where_get_loan'] == loan_type]
    charges_interest_by_type[loan_type] = np.round(ws.DescrStatsW(focus['charges_interest'] + 0.0).mean, 2)

In [11]:
import pprint
pprint.pprint(charges_interest_by_type)

{'': 0.0,
 'bank': 0.62,
 'friends': 0.36,
 'moneylender': 0.75,
 'other': 0.27,
 'other_govt': 0.32,
 'pawnshop': 0.66,
 'relative': 0.1,
 'savings_fund': 0.82,
 'verbal_agreement_credit_program': 0.67,
 'work': 0.22}