In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os 

import sys; sys.path.append('/home/mitch/util/python')
sys.path.append('/home/mitch/github/mfl/')
import src.json_utils

In [13]:
raw = '/home/mitch/Dropbox/data/mexico_fls/raw/2005/'
interim = '/home/mitch/Dropbox/data/mexico_fls/interim2/2005/'
processed = '/home/mitch/Dropbox/data/mexico_fls/processed2/'

figs = '/home/mitch/github/mfl/fig/'
dicts= '/home/mitch/github/mfl/notebooks/dicts/'

In [14]:
os.chdir(interim)

hh = pd.read_csv('hh_2005.csv')
ind = pd.read_csv('ind_2005.csv')

In [15]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8022 entries, 0 to 8021
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   hhid                               8022 non-null   int64
 1   weight_hh                          8022 non-null   float64
 2   state                              8022 non-null   object
 3   own_house                          8022 non-null   bool
 4   own_otherhouse                     8022 non-null   bool
 5   own_bicycles                       8022 non-null   bool
 6   own_vehicle                        8022 non-null   bool
 7   own_electronics                    8022 non-null   bool
 8   own_washmachinestove               8022 non-null   bool
 9   own_domesticappliance              8022 non-null   bool
 10  own_financialassets                8022 non-null   bool
 11  own_machinary                      8022 non-null   bool
 12  own_bullcow                        8022 non-null   bool
 13  own_horsesmules                    8022 non-null   bool
 14  own_pigsgoats                      8022 non-null   bool
 15  own_poultry                        8022 non-null   bool
 16  own_otherassets                    8022 non-null   bool
 17  value_house                        8022 non-null   float64
 18  value_otherhouse                   8022 non-null   float64
 19  value_bicycles                     8022 non-null   float64
 20  value_vehicle                      8022 non-null   float64
 21  value_electronics                  8022 non-null   float64
 22  value_washmachinestove             8022 non-null   float64
 23  value_domesticappliance            8022 non-null   float64
 24  value_financialassets              8022 non-null   float64
 25  value_machinary                    8022 non-null   float64
 26  value_bullcow                      8022 non-null   float64
 27  value_horsesmules                  8022 non-null   float64
 28  value_pigsgoats                    8022 non-null   float64
 29  value_poultry                      8022 non-null   float64
 30  value_otherassets                  8022 non-null   float64
 31  hh_no_savings                      8022 non-null   bool
 32  hh_has_savings_bank                8022 non-null   bool
 33  hh_has_savings_cooperative         8022 non-null   bool
 34  hh_has_savings_credit_institution  8022 non-null   bool
 35  hh_has_savings_batch               8022 non-null   bool
 36  hh_has_savings_person_not_hhm      8022 non-null   bool
 37  hh_has_savings_afores              8022 non-null   bool
 38  hh_has_savings_solidarity          8022 non-null   bool
 39  hh_has_savings_at_house            8022 non-null   bool
 40  hh_has_savings_other               8022 non-null   bool
 41  hh_has_debts_12mth                 8022 non-null   float64
 42  hh_debts_12mth                     8022 non-null   float64
 43  hh_has_savings                     8022 non-null   bool
dtypes: bool(25), float64(17), int64(1), object(1)
memory usage: 1.4+ MB

In [16]:
hh

,hhid,weight_hh,state,own_house,own_otherhouse,own_bicycles,own_vehicle,own_electronics,own_washmachinestove,own_domesticappliance,...,hh_has_savings_credit_institution,hh_has_savings_batch,hh_has_savings_person_not_hhm,hh_has_savings_afores,hh_has_savings_solidarity,hh_has_savings_at_house,hh_has_savings_other,hh_has_debts_12mth,hh_debts_12mth,hh_has_savings
0,1000,1908.0,Oaxaca,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,0.0,0.0,False
1,1003,1908.0,Oaxaca,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,0.0,0.0,False
2,2000,1908.0,Oaxaca,True,False,True,False,True,True,True,...,False,False,False,False,False,False,False,1.0,40000.0,False
3,3000,1908.0,Oaxaca,True,False,True,False,True,True,True,...,False,False,False,False,False,False,False,0.0,0.0,False
4,4000,1908.0,Oaxaca,True,False,True,True,True,True,True,...,False,False,False,False,False,False,False,1.0,20000.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8017,10753000,1286.0,Nuevo Leon,True,False,True,True,True,True,True,...,False,False,False,False,False,True,False,1.0,200.0,True
8018,10754000,650.0,Nuevo Leon,True,False,True,True,True,True,True,...,False,False,False,False,False,False,False,1.0,1500.0,False
8019,10757000,668.0,Nuevo Leon,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,1.0,4000.0,False
8020,10758000,668.0,Nuevo Leon,True,False,True,True,True,True,True,...,False,False,False,False,False,False,False,0.0,0.0,False
8021,10759000,668.0,Nuevo Leon,True,False,True,True,True,True,False,...,False,False,False,False,False,False,False,0.0,0.0,False

In [17]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5089 entries, 0 to 5088
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   hhid                        5089 non-null   int64
 1   hhmember                    5089 non-null   int64
 2   weight_ind                  5089 non-null   float64
 3   is_hhm                      5089 non-null   float64
 4   age                         5089 non-null   float64
 5   attended_school             5089 non-null   bool
 6   education                   5087 non-null   object
 7   gender                      5089 non-null   object
 8   income_type                 2592 non-null   object
 9   income_undetailed           2054 non-null   float64
 10  has_income_second_job       54 non-null     float64
 11  income_second_job           45 non-null     float64
 12  has_wage                    370 non-null    object
 13  wage                        5089 non-null   float64
 14  has_piecework               370 non-null    object
 15  piecework                   5089 non-null   float64
 16  has_tips                    370 non-null    object
 17  tips                        5089 non-null   float64
 18  has_extrahours              370 non-null    object
 19  extrahours                  5089 non-null   float64
 20  has_christmasbonus          370 non-null    object
 21  christmasbonus              5089 non-null   float64
 22  has_bonus                   370 non-null    object
 23  bonus                       5089 non-null   float64
 24  has_profitdist              370 non-null    object
 25  profitdist                  5089 non-null   float64
 26  has_other                   370 non-null    object
 27  other                       5089 non-null   float64
 28  earn_main_business          1048 non-null   float64
 29  income_main_business        1048 non-null   float64
 30  earn_second_business        86 non-null     float64
 31  income_second_business      86 non-null     float64
 32  naics_classification        4150 non-null   object
 33  asked_for_loan_12mth        5089 non-null   bool
 34  loan_type                   620 non-null    object
 35  received_loan               620 non-null    float64
 36  loan_size                   619 non-null    float64
 37  has_debts                   5089 non-null   bool
 38  debts                       5089 non-null   float64
 39  has_savings                 5089 non-null   bool
 40  savings                     5089 non-null   float64
 41  has_savings_none            5089 non-null   bool
 42  has_savings_bank            5089 non-null   bool
 43  has_savings_coop            5089 non-null   bool
 44  has_savings_savingsbank     5089 non-null   bool
 45  has_savings_friend_not_hhm  5089 non-null   bool
 46  has_savings_afores          5089 non-null   bool
 47  has_savings_caja_solidaria  5089 non-null   bool
 48  has_savings_house           5089 non-null   bool
 49  has_savings_work            5089 non-null   bool
 50  has_savings_other           5089 non-null   bool
 51  hh_size                     5089 non-null   int64
 52  income_main_job             5062 non-null   float64
 53  income                      5089 non-null   float64
 54  log_income                  5089 non-null   float64
 55  loan                        4470 non-null   float64
 56  has_loan                    5089 non-null   bool
 57  has_loan_formal             5089 non-null   bool
 58  has_loan_informal           5089 non-null   bool
 59  has_loan_friends_relatives  5089 non-null   bool
 60  loan_formal                 4470 non-null   float64
 61  loan_informal               4470 non-null   float64
 62  loan_friends_relatives      4470 non-null   float64
dtypes: bool(18), float64(29), int64(3), object(13)
memory usage: 1.8+ MB

In [18]:
ind

,hhid,hhmember,weight_ind,is_hhm,age,attended_school,education,gender,income_type,income_undetailed,...,income,log_income,loan,has_loan,has_loan_formal,has_loan_informal,has_loan_friends_relatives,loan_formal,loan_informal,loan_friends_relatives
0,1000,1,2244.0,1.0,41.0,True,Medium,Male,dk,NaN,...,0.0,-inf,0.0,False,False,False,False,0.0,0.0,0.0
1,3000,1,2244.0,1.0,45.0,False,Low,Male,undetailed,6000.0,...,6000.0,8.699515,0.0,False,False,False,False,0.0,0.0,0.0
2,8000,1,2244.0,1.0,33.0,True,High,Male,undetailed,60000.0,...,80000.0,11.289782,NaN,True,True,False,False,NaN,NaN,NaN
3,10000,1,2074.0,1.0,39.0,True,Low,Female,NaN,NaN,...,0.0,-inf,0.0,False,False,False,False,0.0,0.0,0.0
4,11000,1,2074.0,1.0,29.0,True,Medium,Male,detailed,NaN,...,61000.0,11.018629,0.0,False,False,False,False,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,10751000,1,5539.0,1.0,39.0,True,Low,Male,undetailed,5000.0,...,5000.0,8.517193,0.0,False,False,False,False,0.0,0.0,0.0
5085,10752000,1,1614.0,1.0,32.0,True,Medium,Male,undetailed,60000.0,...,60000.0,11.002100,0.0,True,False,True,False,0.0,0.0,0.0
5086,10754000,1,817.0,1.0,43.0,True,Low,Male,undetailed,59000.0,...,59000.0,10.985293,0.0,False,False,False,False,0.0,0.0,0.0
5087,10758000,1,839.0,1.0,27.0,True,Low,Male,undetailed,36000.0,...,36000.0,10.491274,0.0,False,False,False,False,0.0,0.0,0.0
5088,10759000,1,839.0,1.0,25.0,True,Medium,Male,undetailed,33600.0,...,33600.0,10.422281,0.0,False,False,False,False,0.0,0.0,0.0

In [19]:
# left merge on ind 
df = ind.merge(hh, on='hhid', how='inner')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5063 entries, 0 to 5062
Columns: 106 entries, hhid to hh_has_savings
dtypes: bool(43), float64(46), int64(3), object(14)
memory usage: 2.6+ MB

In [21]:
df.describe()

/home/mitch/anaconda3/envs/main/lib/python3.9/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,hhid,hhmember,weight_ind,is_hhm,age,income_undetailed,has_income_second_job,income_second_job,wage,piecework,...,value_domesticappliance,value_financialassets,value_machinary,value_bullcow,value_horsesmules,value_pigsgoats,value_poultry,value_otherassets,hh_has_debts_12mth,hh_debts_12mth
count,5.063000e+03,5063.000000,5063.000000,5063.0,5063.000000,2044.000000,54.000000,45.000000,5063.000000,5063.000000,...,5063.000000,5063.000000,5.063000e+03,5063.000000,5063.000000,5063.000000,5063.000000,5063.000000,5063.000000,5.063000e+03
mean,5.043593e+06,1.035947,3736.615050,1.0,45.740470,48856.285714,3.833333,24985.577778,3402.865100,39.028244,...,1744.551385,5768.321392,3.165067e+03,1604.101950,209.338280,297.940950,120.238184,146.537697,0.287972,6.183748e+03
std,2.873573e+06,0.258195,3887.321986,0.0,10.679807,51890.552069,1.880887,36048.726853,16900.722184,1029.078218,...,11315.936897,30164.566217,1.134559e+05,19012.452105,1341.558662,7259.090522,1332.728912,7267.473454,0.452863,3.303095e+04
min,1.000000e+03,1.000000,115.000000,1.0,20.000000,24.000000,3.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.592500e+06,1.000000,1490.000000,1.0,37.000000,22350.000000,3.000000,2800.000000,0.000000,0.000000,...,200.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,5.097000e+06,1.000000,2377.000000,1.0,46.000000,36000.000000,3.000000,9000.000000,0.000000,0.000000,...,600.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,7.521000e+06,1.000000,4887.000000,1.0,54.000000,58000.000000,3.000000,36000.000000,0.000000,0.000000,...,2000.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.400000e+03
max,1.075900e+07,7.000000,44252.000000,1.0,65.000000,500000.000000,8.000000,180000.000000,336000.000000,37000.000000,...,500000.000000,1000000.000000,8.000000e+06,780000.000000,45000.000000,500000.000000,56000.000000,500000.000000,1.000000,1.400000e+06

In [22]:
os.chdir(processed)
df.to_csv('data.csv', index=False)